<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auto Parts List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            margin-top: 50px;
        }

        .card {
            margin-bottom: 20px;
        }

        #partsList {
            max-height: 550px;
            overflow-y: auto;
        }

        .create-car-button {
            width: 120px;
            margin-top: 10px;
        }

        .float-right {
            float: right;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="text-center mb-4">Історія обслуговування авто</h1>
    <div id="partsList">
        <div th:each="part : ${autoPartListByCar}">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" th:text="${part.repairmentDate}"></h5>
                    <p class="card-text" th:text="'Пробіг авто: ' + ${part.millage} + ' км'"></p>
                    <p class="card-text" th:text="'Деталі: ' + ${part.autoPartDescription}"></p>
                    <p class="card-text" th:text="'Ціна: ' + ${part.autoPartPrice} + ' грн'"></p>
                </div>
            </div>
        </div>
    </div>
    <a th:href="@{'/garage/persons/' + ${personId} + '/cars'}" class="btn btn-primary create-car-button">Повернутися до
        списку авто</a>
    <div class="float-right">
        <a th:href="@{/garage/persons/{personId}/cars/{carId}/create(personId=${personId}, carId=${carId})}"
           class="btn btn-primary create-car-button">Створити обслуговування</a>
    </div>

    <script>
        window.addEventListener("load", function () {
        });
    </script>

</div>
</body>
</html>
