<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Create an Auto Part</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <form class="form-signin" id="autoPartForm">
        <h2 class="form-signin-heading">Новий ремонт</h2>
        <input type="hidden" id="carId" value="">
        <input type="hidden" id="personId" value="">
        <p>
            <label class="form-label" for="autoPartName">Auto Part Name</label>
            <input class="form-control" id="autoPartName" name="autoPartName" type="text"
                   placeholder="Enter auto part name" required>
        </p>
        <p>
            <label class="form-label" for="autoPartPrice">Auto Part Price</label>
            <input class="form-control" id="autoPartPrice" name="autoPartPrice" type="number" step="0.01"
                   placeholder="Enter auto part price" required>
        </p>
        <p>
            <label class="form-label" for="autoPartDescription">Auto Part Description</label>
            <input class="form-control" id="autoPartDescription" name="autoPartDescription" type="text"
                   placeholder="Enter auto part description" required>
        </p>
        <button class="btn btn-primary mb-3" type="submit">Create</button>
    </form>
</div>

<script>
    window.addEventListener('DOMContentLoaded', function () {
        var urlParts = window.location.pathname.split('/');
        var carId = parseInt(urlParts[urlParts.length - 2]); // Изменено: -3 на -2
        var personId = parseInt(urlParts[urlParts.length - 4]); // Изменено: -5 на -4
        var autoPartForm = document.querySelector('#autoPartForm');
        var carIdField = document.querySelector('#carId');
        var personIdField = document.querySelector('#personId');

        carIdField.value = carId;
        personIdField.value = personId;

        autoPartForm.addEventListener('submit', function (event) {
            event.preventDefault();

            function trimURL() {
                var currentURL = window.location.pathname;
                var trimmedURL = currentURL;
                return trimmedURL;
            }

            var trimmedPath = trimURL().replace('create', "createAutoPart");
            console.log(trimmedPath);

            var formData = new FormData(autoPartForm);
            var xhr = new XMLHttpRequest();

            xhr.open('POST', trimmedPath);
            xhr.setRequestHeader('Content-Type', 'application/json');

            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                    console.log('Auto part created successfully!');
                    showSuccessMessage();
                    setTimeout(redirectToAutoPartsPage, 2000);
                }
            };
            xhr.send(JSON.stringify(Object.fromEntries(formData)));
        });

        function showSuccessMessage() {
            var successAlert = document.createElement('div');
            successAlert.classList.add('alert', 'alert-success');
            successAlert.textContent = 'A new auto part added';

            var container = document.querySelector('.container');
            container.insertBefore(successAlert, autoPartForm.nextSibling);
        }

        function redirectToAutoPartsPage() {
            window.location.href = '/garage/persons/' + personId + '/cars/' + carId;
        }
    });
</script>

</body>
</html>
