<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Please sign in</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>
<form
        method="post"
        role="form"
        th:action="@{/registration}"
        th:object="${user}">

    <div class="container">
        <form class="form-signin" method="post" th:action="@{/registration}">
            <h2 class="form-signin-heading">Please sign up</h2>
            <p>
                <label class="form-label" for="username">Username</label>
                <input class="form-control" id="username" name="username" type="text" placeholder="Enter username">
            </p>
            <p>
                <label class="form-label" for="password">Password</label>
                <input class="form-control" id="password" name="password" type="password" placeholder="Enter password">

            </p>
            <button class="btn btn-primary mb-3" type="submit">Register</button>
            or <a class="link-primary" th:href="@{/login}">Login</a>
        </form>
    </div>
</form>
</body>
</html>