<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Історія обслуговування авто</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            margin-top: 30px;
        }

        .card {
            margin-bottom: 20px;
        }

        #partsList {
            max-height: 550px;
            overflow-y: auto;
        }

        .card-title {
            font-weight: bold;
        }

        .card-text {
            color: #6c757d;
        }

        .generate-full-report {
            margin-top: 15px;
        }

        .generate-report {
            margin-top: 15px;
        }

    </style>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">CarService</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="http://localhost:8080/carservice/clients">Мої
                        клієнти</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/carservice/clients/' + ${ignoredClientId} + '/cars'}">Авто</a>
<!--                    сделай сдесь ссылку на -->
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Обслуговування</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <h1 class="text-center mb-4">Історія обслуговування авто</h1>
    <div id="partsList">
        <div th:each="serviceHistory : ${serviceHistories}">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" th:text="${serviceHistory.service_date}">Дата обслуговування</h5>
                    <p class="card-text" th:text="'Пробіг авто: ' + ${serviceHistory.mileage} + ' км'"></p>
                    <p class="card-text" th:text="'Деталі: ' + ${serviceHistory.description}"></p>
                    <p class="card-text" th:text="'Ціна: ' + ${serviceHistory.price} + ' грн'"></p>
                    <p class="card-text"
                       th:text="'Наступне обслуговування: ' + ${serviceHistory.next_service_date}"></p>

                    <div class="d-flex justify-content-between">
                        <a th:href="@{'/carservice/clients/' + ${ignoredClientId} + '/cars/' + ${ignoredCarId} + '/service-history/' + ${serviceHistory.id} + '/update'}"
                           class="btn btn-secondary update-car-button">Update</a>

                        <form th:action="@{'/carservice/clients/' + ${ignoredClientId} + '/cars/' + ${ignoredCarId} + '/service-history/' + ${serviceHistory.id} + '/delete'}"
                              method="post" onsubmit="return confirm('Ви впевнені, що хочете видалити цей запис?')">
                            <input type="hidden" name="_method" value="DELETE"/>
                            <button type="submit" class="btn btn-danger custom-delete">Видалити</button>
                        </form>
                    </div>

                    <form th:action="@{'/carservice/clients/' + ${ignoredClientId} + '/cars/' + ${ignoredCarId} + '/service-history/' + ${serviceHistory.id} + '/print'}"
                          method="get">
                        <button type="submit" class="btn btn-primary generate-report">Згенерувати звіт</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between mt-4">
        <a th:href="@{'/carservice/clients/' + ${ignoredClientId} + '/cars'}"
           class="btn btn-outline-primary custom-back-button">Повернутися до списку авто</a>
        <a th:href="@{'/carservice/clients/' + ${ignoredClientId} + '/cars/' + ${ignoredCarId} + '/service-history/add'}"
           class="btn btn-primary create-car-button">Нове обслуговування</a>
    </div>

    <form th:action="@{'/carservice/clients/' + ${ignoredClientId} + '/cars/' + ${ignoredCarId} + '/service-history/' + 'printAll'}"
          method="get">
        <button type="submit" class="btn btn-primary generate-full-report">Згенерувати повний звіт</button>
    </form>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
